{% extends 'aplicacionN1/base.html' %}

{%block titulo%} CoderHouse | Estudiantes {%endblock%}

{% block contenido %}
<section  id="service" class="section pt-0">
    <div class="container">
        <h6 class="section-title text-center">Estudiantes</h6>
        <h6 class="section-subtitle text-center mb-5 pb-3">Agregue un estudiante a nuestra lista!</h6>
    </div>
</section>

<section id="portfolio" class="section portfolio-section">
    <div class="container">
        <h6 class="section-title text-center">Modificaciones</h6>
        <div>
            <a class="nav-link" href="{% url 'agregarestudiantes' %}" data-filter=".add" >
                Nuevo
            </a>
            <a class="nav-link" href="{% url 'buscarestudiantes' %}" data-filter=".search">
                Buscar
            </a>
            <a class="nav-link" href="#" data-filter=".delete">
                <p class="text-muted">Eliminar</p>
            </a>
            <a class="nav-link" href="#" data-filter=".actualice">
                <p class="text-muted">Actualizar</p>
            </a>
        </div> 
    </div>
</section>  








{% comment %} !Proximamente.
                !En desarrollo... 






    <section  id="service" class="section pt-0">
        <div class="container">
            <h6 class="section-title text-center">Estudiantes</h6>
            <h6 class="section-subtitle text-center mb-5 pb-3">Agregue un nuevo Estudiantes anuestra base de datos!</h6>
        </div>
    </section>
    <section id="portfolio" class="section portfolio-section">
        <div class="container">
            <h6 class="section-title text-center">Modificaciones</h6>
            <div class="filters">
                <a class="nav-link" href="{% url 'agregarestudiantes' %}" data-filter=".add" >
                    Nuevo
                </a>
                <a class="nav-link" href="#" data-filter=".search">
                    Buscar
                </a>
                <a class="nav-link" href="#" data-filter=".delete">
                    Eliminar
                </a>
                <a class="nav-link" href="#" data-filter=".actualice">
                    Actualizar
                </a>
            </div>
            <div class="portfolio-container"> 
                <div class="col-md-6 col-lg-4 add">
                    <div class="portfolio-item">
                        {% block agregarE %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="portfolio-container"> 
                <div class="col-md-6 col-lg-4 search">
                    <div class="portfolio-item">
                        {% block buscarE %}
                        {% endblock %} 
                    </div>
                </div>                                                     
            </div>   
            <div class="portfolio-container"> 
                <div class="col-md-6 col-lg-4 delete">
                    <div class="portfolio-item">
                        <p>Proximamente</p>
                        {% block eliminarE %}
                        {% endblock %}      
                    </div>
                </div>                                                     
            </div>   
            <div class="portfolio-container"> 
                <div class="col-md-6 col-lg-4 actualice">
                    <div class="portfolio-item">
                        <p>Proximamente</p>
                        {% block actualizarE %}
                        {% endblock %} 
                    </div>
                </div>                                                     
            </div>   
        </div>            
    </section>
    
{% endcomment %} 
{% endblock %}

