{% extends 'aplicacionN1/base.html' %}

{%block titulo%}CoderHouse | Inicio{%endblock%}

{% block contenido %}
    <section  id="service" class="section pt-0">
        <div class="container">
            <h6 class="section-title text-center">Inicio</h6>
            <h6 class="section-subtitle text-center mb-5 pb-3">Una paqueña presentacion</h6>
        </div>
    <hr>
    <table class="table table-borderless v-align-center">
        
            <tbody>
                </section>
                    <tr>
                        <td>
                            <p>Proyecto de práctica elaborado para el curso de Python de CoderHouse ,utilice un template diferente al recomendado por las diapositivas , de a poco estoy aprendiendo sobre css y intento personalizarlo lo mejor que pueda para obtener un resultado más único, Agregamos las clases 'Inicio', 'Curso', 'Entregables', 'Profesores' y 'Alumnos'. Por el lado del Backend no tuve muchos problemas , la mayoría los pude resolver bastante rápido, la explicación del contenido es bastante buena y no se me dificulta seguir el hilo. Por el lado contrario el Frontend como mis conocimientos de Css y Bootstrap eran bastante nulos tuve varios problemas y por esa razon tambien realice varios cambios de plantilla hasta encontrar una con la que me sintiera más cómodo, en el proceso encontré esta que es bastante similar a la utilizada. <br> <br> Todavia sigo tocando y rompiendo cosas pero la practica hace al mestro.<br> Espero que este todo bien!</p></td>
                    </tr>
            </tbody>
    </table>
{% endblock %}